#cs1300-gallery {
  background-color: lightblue;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shelf{
  display: flex;
  background-color: saddlebrown;
  width: 75%;
  justify-content: space-around;
  margin: 2%;
  border-style: solid;
  border-color: black;
  padding: 5%;
}


/**images are from https://www.flaticon.com/packs/bakery-207?word=bread **/
.baked-item{
  height: 25%;
  width: 25%;
}

#fruitList{
  display: flex;
  background-color: green;
  width: 75%;
  justify-content: space-around;
}